img .headerpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width:150px;
}

img {
  display: block;
  margin-left: auto;
  margin-right:auto;
  height: 400px;
  width: 300px;
}
